
/* tag name*/
body {
    background: #eee;
}

/* class */
.card{
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;

}

.html{
    background: #f26629;
    color: white;
}

.css{
    background: #306af1;
    color: white;
}

/* id*/
#header{
    background: #ddd;
    padding: 10px;
}
/*  */
#header, .card{
    margin-bottom: 10px;

}